* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main {
    display: flex;
}
.image-container{
    width: 50%;
    height: 100vh;
    position: relative;
    text-align: center;
}

div.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    opacity: .8;
    background-color: rgb(83, 83, 83);
    font-size: 50px;
    position: absolute;
    top: 40%;
    bottom: 50%
}



.logo h2 {
    color: white;
    font-family: norse bold;
}


.credit {
    width: 100%;
    color: white;
    font-size:12px ;
    position: absolute;
    top: 90%;
    bottom: 10%

}

.image-container img {
    position: relative;
    height: 100%;
    width: 100%;
    right: 0;
}

.right-container {
    display: flex;
    align-items: left;
    justify-content: top;
    flex-direction: column;
    left: 0;
    width: 50%;
    height: 100%;
    margin-top: 100px;
    margin: 80px;

}

form {
    margin: 0px;
    display: inline-block;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;

}

form.form {
    margin: 40px;
    margin-bottom: 0px;
}

header {
    margin: 30px;
    font-size: 24px;
    font-variant: small-caps;
}



div.name, div.contact-info, div.password, div.buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 10px;

}

span {
    margin: 18px;
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font:8px;
    width: 95%
}

label {
    font-variant: small-caps;
}

input {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}


div.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
    background-color: rgb(8, 131, 33);
    font-size: 900;
    border: 2px solid black;
    border-radius: 1px;
    padding: 5px;
    color: white;
    font-variant: small-caps;
}

div.account {
    margin: 0;
    text-decoration: none;
    font-variant: small-caps;
}

a {
    text-decoration: none;
}

span {
    font-size: 16px;
}

label {
    font-size: 16px;
}